* {
    box-sizing: border-box;
}

.body {
    margin: 0;
    background-color: rgb(243, 239, 239);
}

.edit-form {
    width: 600px;
    height: 650px;
    background-color: white;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 5px;
}

.edit-form__content {
    padding: 20px;
}

.edit-form__label {
    display: block;
    margin-bottom: 3px;
}

.edit-form__content input {
    display: inline-block;
    margin-bottom: 20px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.edit-form__input {
    width: 100%;
    height: 30px;
}

.edit-form__int {
    width: 95%;
    height: 30px;
}

.edit-form__text {
    width: 100%;
    height: 120px;
}

.content__items {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100%;
}

.content-item--center {
    grid-column: 2;
}

.content-item--right {
    display: flex;
    justify-content: end;
    margin-right: 20px;
}