* {
    box-sizing: border-box;
}

.body {
    margin: 0;
    background-color: rgb(243, 239, 239);
}

.edit {
    width: 600px;
    height: 650px;
    background-color: white;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 5px;
}

.edit-form__content {
    padding: 20px;
}

.edit-form__label {
    display: block;
    margin-bottom: 3px;
}

.edit-form__content input {
    display: inline-block;
    margin-bottom: 20px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 0 10px;
}

.edit-form__input {
    width: 100%;
    height: 30px;
}

.edit-form__int {
    width: 95%;
    height: 30px;
}

.edit-form__textarea {
    width: 100%;
    height: 120px;
    padding: 6px 10px;
}

.content__items {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100%;
}

.content-item--center {
    width: 300px;
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-back {
    padding: 5px 50px;
    background-color: rgb(205, 205, 205);
    border-radius: 5px;
    text-decoration: none;
    color: black;
}


.update-button {
    width: 120px;
    height: 35px;
    border: none;
    background-image: linear-gradient(90deg, #8424f380, #f75eb980);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.delete-form {
    display: flex;
    justify-content: end;
    margin-right: 10px;
}

.svg-trash {
    width: 30px;
    height: 30px;
}

.delete-button {
    border: none;
    background: none;
    cursor: pointer;
}