*{box-sizing: border-box;}

.body {
    margin: 0;
    background-color: rgb(243, 239, 239);
}

.chunk-info {
    display: flex;
    justify-content: space-around;
    width: 1000px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
}

.info-number {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.info-unit {
    font-size: 18px;
    font-weight: 500;
}

.info-separate {
    display: inline-block;
    font-size: 60px;
    transform: scaleX(0.5);
    color: gainsboro;
}

.main {
    width: 1000px;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
}

.search-date__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.search-date__content--left {
    display: flex;
    align-items: center;
}


.search-date__input {
    width: 150px;
    height: 30px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    color: rgb(192, 192, 192);
}

.search-date__button {
    width: 80px;
    height: 30px;
    margin-left: 10px;
    background-color: rgb(164, 164, 164);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.search-date--reset {
    padding: 5px 15px;
    text-decoration: none;
    border: 1px solid gainsboro;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 14px;

}

.search-result {
    margin: 0;
    margin-left: 20px;
}

.add-link {
    padding: 4px 25px;
    text-decoration: none;
    background-image: linear-gradient(90deg, #8424f380, #f75eb980);
    border: none;
    border-radius: 5px;
    color: white;
}

.log-table {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
}



.table-row th {
    position: relative;
    padding: 0.8rem 0;
    margin-bottom: 0.2rem;
    background-image: linear-gradient(90deg, #8424f380, #f75eb980);
    background-repeat: no-repeat;
    background-size: 100% 2px;
    background-position: bottom;
}

.table-row td {
    border-bottom: 1px solid gainsboro;
    text-align: center;
    line-height: 3;
    color: dimgray;

}

.table-row:hover td {
    background-color: rgb(236, 236, 236);
}

.table-row .col-date {
    text-align: start;
    padding: 0 20px;
}

.edit-link {
    text-decoration: none;
}

.paginate {
    display: flex;
    justify-content: center;
    padding: 20px;
}

/*　ここからモーダル*/

.modal {
    border: none;
    padding: 0;
    border-radius: 12px;
    width: min(600px, 92vw);
}

.modal::backdrop {
    background: rgba(0, 0, 0, .5);
}

.modal-form {
    width: 600px;
    height: 700px;
    background-color: white;

}

.modal-form__content {
    width: 100%;
    padding: 10px;
}

.content-title {
    margin-bottom: 20px;
}

.modal-form__label {
    display: block;
}

.modal-form__content input {
    display: inline-block;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 0 10px;
    margin: 0;
}

.modal-form__input {
    width: 100%;
    height: 30px;
}

.modal-form__date {
    width: 100%;
    height: 30px;
}

.modal-form__int {
    width: 95%;
    height: 30px;
}

.modal-form__textarea {
    width: 100%;
    height: 120px;
    padding: 6px 10px;
}

.content-item {
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}

.close-button {
    width: 120px;
    height: 35px;
    border: none;
    background-color: rgb(205, 205, 205);
    border-radius: 5px;
    cursor: pointer;
}


.store-button {
    width: 120px;
    height: 35px;
    border: none;
    background-image: linear-gradient(90deg, #8424f380, #f75eb980);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.pigly__error {
    line-height: 1.5;
    min-height: 1.5em;
    text-align: left;
    color: red;
    margin-bottom: 10px;
}