*{box-sizing: border-box;}

.body {
    width: 100%;
    height: 100vh;
    position: relative;
    margin: 0;
    background-color: rgb(243, 239, 239);
}

.main {
        width: 400px;
        height: 200px;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translateX(-50%);
        background-color: white;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

.set-form {
    text-align: center;
}

.set-form__input {
    width: 350px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 0 10px;
}

.set-form__items {
    display: flex;
    justify-content: space-around;
}

.link-back {
    padding: 5px 50px;
    background-color: rgb(205, 205, 205);
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.set-form__button {
    width: 120px;
    height: 35px;
    border: none;
    background-image: linear-gradient(90deg, #8424f380, #f75eb980);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}