* {
    box-sizing: border-box;
}

.body {
    height: 100vh;
    display: grid;
    place-items: center;
    background: linear-gradient(190deg, #f355c1, #ffd28c);
    background-repeat: no-repeat;
    background-size: cover;
}

.form-register {
    text-align: center;
    width: 500px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
}

.register-content {
    width: 400px;
    margin: 0 auto;
}

.register-content__label,
.register-button__submit,
.link-login {
    display: block;
}

.register-content-items {
    padding: 0 10px;
}

.register-content__label {
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}

.register-content__input {
    width: 100%;
    height: 35px;
    padding: 0 5px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    margin-bottom: 20px;
}

.register-button__submit {
    width: 200px;
    padding: 5px 10px;
    margin: 0 auto;
    margin-top: 10px;
    background-image: linear-gradient(90deg, #8424f380, #f75eb980);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.link-login {
    margin-top: 30px;
    font-size: 14px;
    color: skyblue;
}